<div class="container mt-3">
  <!-- ======= Whu Us Section ======= -->
  <section
    data-aos="fade-down"
    data-aos-duration="1000"
    id="why-us"
    class="why-us"
  >
    <div class="container">
      <div class="section-title text-center">
        <h2 class="mb-2">Por qué elegir Desperdicio Cero</h2>
        <p>
          Desperdicio Cero es la elección ideal para aquellos que buscan
          contribuir a un mundo más sostenible y ayudar a combatir el
          desperdicio de alimentos. Aquí hay tres razones principales por las
          que deberías elegirnos:
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="box">
            <span>01</span>
            <h4>Reducción del desperdicio de alimentos</h4>
            <p>
              Desperdicio Cero permite que los establecimientos vendan sus
              excedentes de comida a precios reducidos en lugar de desecharlos,
              contribuyendo así a la reducción global del desperdicio de
              alimentos.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>02</span>
            <h4>
              Concienciación y educación sobre el desperdicio de alimentos
            </h4>
            <p>
              Desperdicio Cero aumenta la conciencia sobre el problema del
              desperdicio de alimentos al mostrar cuánta comida se desperdicia y
              cómo las personas pueden ayudar a combatirlo.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>03</span>
            <h4>Apoyo a la comunidad y negocios locales</h4>
            <p>
              Desperdicio Cero brinda apoyo a restaurantes, tiendas de alimentos
              y otros negocios locales al permitirles vender sus excedentes de
              comida y reducir sus pérdidas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Whu Us Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq mt-5 mb-5">
    <div class="container" data-aos="fade-up" data-aos-duration="1000">
      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>
          En Desperdicio Cero, nos esforzamos por reducir el desperdicio de
          alimentos y crear conciencia sobre este importante problema. Aquí
          encontrarás respuestas a algunas de las preguntas más comunes sobre
          nuestra plataforma y cómo puedes unirte a nosotros en esta importante
          misión. Si tienes alguna otra pregunta que no esté respondida aquí, no
          dudes en ponerte en contacto con nuestro equipo de soporte.
        </p>
        <p>
          ¡Gracias por unirte a Desperdicio Cero y ayudarnos a construir un
          mundo más sostenible juntos!
        </p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1"
                >
                  ¿Qué es Desperdicio Cero?
                </button>
              </h2>
              <div
                id="faq-content-1"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist1"
              >
                <div class="accordion-body">
                  Desperdicio Cero es una innovadora aplicación que conecta
                  establecimientos con excedentes de alimentos con consumidores
                  interesados en adquirir estos productos a precios reducidos.
                  Nuestro objetivo es reducir el desperdicio de alimentos y
                  promover un estilo de vida más sostenible.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-2"
                >
                  ¿Cómo funciona Desperdicio Cero?
                </button>
              </h2>
              <div
                id="faq-content-2"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist1"
              >
                <div class="accordion-body">
                  Los establecimientos que tienen alimentos excedentes pueden
                  registrarse en la aplicación y listar sus productos a precios
                  reducidos. Los consumidores pueden buscar ofertas de alimentos
                  cercanas, seleccionar los productos que desean y comprarlos a
                  través de la app. Los productos se pueden recoger en el
                  establecimiento o ser entregados según la disponibilidad del
                  servicio.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-content-3"
                >
                  ¿Quiénes pueden utilizar Desperdicio Cero?
                </button>
              </h2>
              <div
                id="faq-content-3"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist1"
              >
                <div class="accordion-body">
                  Desperdicio Cero está disponible tanto para consumidores como
                  para negocios. Los consumidores pueden registrarse para
                  comprar alimentos a precios reducidos, mientras que los
                  negocios (como restaurantes, supermercados y panaderías)
                  pueden registrarse para vender sus excedentes de alimentos.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-1"
                >
                  ¿Es seguro realizar pagos a través de Desperdicio Cero?
                </button>
              </h2>
              <div
                id="faq2-content-1"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist2"
              >
                <div class="accordion-body">
                  Sí, Desperdicio Cero utiliza métodos de pago seguros y
                  populares, incluyendo tarjetas de crédito y débito, y opciones
                  en efectivo. Todos los pagos son procesados a través de
                  plataformas de pago confiables y seguras, garantizando la
                  protección de la información financiera de nuestros usuarios.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-2"
                >
                  ¿Cómo puedo registrarme como negocio en Desperdicio Cero?
                </button>
              </h2>
              <div
                id="faq2-content-2"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist2"
              >
                <div class="accordion-body">
                  Para registrarse como negocio en Desperdicio Cero, simplemente
                  descarga la aplicación y selecciona la opción de registro para
                  negocios. Deberás proporcionar información básica sobre tu
                  establecimiento, como nombre, ubicación, detalles de contacto
                  y una descripción. Una vez registrado, podrás comenzar a
                  listar tus productos excedentes y ofrecerlos a los
                  consumidores.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-3"
                >
                  ¿Qué beneficios tiene usar Desperdicio Cero para los
                  consumidores?
                </button>
              </h2>
              <div
                id="faq2-content-3"
                class="accordion-collapse collapse"
                data-bs-parent="#faqlist2"
              >
                <div class="accordion-body">
                  Los consumidores pueden disfrutar de alimentos de calidad a
                  precios reducidos, lo que les permite ahorrar dinero. Además,
                  al comprar excedentes de alimentos, están contribuyendo a
                  reducir el desperdicio de alimentos y apoyando una causa
                  socialmente responsable. También tienen la oportunidad de
                  descubrir nuevos establecimientos y productos en su área
                  local.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End F.A.Q Section -->
</div>
